<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/logo1.svg" class="img-fluid" id="profile-logo">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre"><b>{{persona.nombre}} {{persona.apellido}}</b></p>
        <p id="title">Full Stack Developer Jr.</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1><b>ACERCA DE MI</b></h1>
            <p>Soy un desarrollador web que le gusta incursionar en diferentes tecnologias. Tengo conocimientos de HTML, CSS Y JavaScrpit que adquiri de forma autodidacta</p>
        </span>
    </div>
</div>
