<div class="row">
  <h1>Proyectos realizados</h1>
  <div class="container">
    <div class="card" style="width: 30rem">
      <img
        src="../../../assets/calc-photo.png"
        class="card-img-top"
        alt=""
      />
      <div class="card-body">
        <h5 class="card-title">Calculator</h5>
        <p class="card-text">
          Desarrollé una calculadora funcional. Realizado
          utilizando Html, CSS y JavaScrpit
        </p>
        <a
          href="https://github.com/LorenzoSepulveda/Web-Calculator"
          target="_blank"
          class="btn btn-primary"
          >Ver proyecto en GitHub</a
        >
      </div>
    </div>

    <div class="card" style="width: 30rem">
      <img
        src="../../../assets/screenshot-memotest.png"
        class="card-img-top"
        alt=""
      />
      <div class="card-body">
        <h5 class="card-title">Memory Test Game</h5>
        <p class="card-text">
          Divertido juego en el que puedes testear tu memory, recordando donde estaba cada carta. Realizado
          utilizando Html, CSS y JavaScrpit
        </p>
        <a
          href="https://github.com/LorenzoSepulveda/Memory-TestGame"
          target="_blank"
          class="btn btn-primary"
          >Ver proyecto en GitHub</a
        >
      </div>
    </div>
    
    <div class="card" style="width: 30rem">
      <img
        src="../../../assets/screenshot-snake.png"
        class="card-img-top"
        alt=""
      />
      <div class="card-body">
        <h5 class="card-title">Snake Game</h5>
        <p class="card-text">
          Recreé el famoso juego Snake. Realizado utilizando Html, CSS y
          JavaScrpit
        </p>
        <a
          href="https://github.com/LorenzoSepulveda/Snake-Game"
          target="_blank"
          class="btn btn-primary"
          >Ver proyecto en GitHub</a
        >
      </div>
    </div>

    <div class="card" style="width: 30rem">
      <img
        src="../../../assets//Portfolio-screen.png"
        class="card-img-top"
        alt=""
      />
      <div class="card-body">
        <h5 class="card-title">Portfolio Web FullStack</h5>
        <p class="card-text">
          Portfolio web de arquitectura distribuida, full responsive.
          En este porfolio puedes loguearte como usuario administrador y realizar los cambios necesarios a tus estudios, habilidaddes y experiencias.
          Hosteado con Firebase, Render y con una base de datos en CleverCloud.
        </p>
        <a
          href="https://github.com/LorenzoSepulveda/portfolio-FRONTEND"
          target="_blank"
          class="btn btn-primary"
          >Ver Frontend
        </a>
        <a
          href="https://github.com/LorenzoSepulveda/portfolio-FRONTEND"
          target="_blank"
          class="btn btn-primary"
          >Ver Backend
        </a>
      </div>
    </div>

    </div>
</div>
