<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="container">
        <div class="card" style="width: 30rem;">
            <img src="../../../assets/screenshot-snake.png" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">Snake Game</h5>
              <p class="card-text">Recreé el famoso juego Snake. Realizado utilizando Html, CSS y JavaScrpit</p>
              <a href="https://github.com/LorenzoSepulveda/Snake-Game" target="_blank" class="btn btn-primary">Ver proyecto en GitHub</a>
            </div>
          </div>

          <div class="card" style="width: 30rem;">
                      <img src="../../../assets/screenshot-tictactoe.png" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">Ta Te Ti</h5>
              <p class="card-text">Divertido proyecto en el que creé un ta te ti virtual. Realizado utilizando Html, CSS y JavaScrpit</p>
              <a href="https://github.com/LorenzoSepulveda/Tic-Tac-Toe" target="_blank" class="btn btn-primary">Ver proyecto en GitHub</a>
            </div>
          </div>

    </div>
</div>
