<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" alt="Logo Argentina Programa" id="logoAP">
        </div>
        <div class="redes">
            <a href="https://github.com/LorenzoSepulveda" target="_blank"><img src="../../../assets/github.png" alt="logo github" id="github"></a>
            <a href="https://www.linkedin.com/in/lorenzosepulveda/" target="_blank"><img src="../../../assets/linkedin.png" alt="logo linkedin" id="linkedin"></a>      
            
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">LogIn</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">LogOut</button>
        </div>
    </div>
</div>